{% extends "main.html.twig" %}

{% block content %}

    {% include 'flash.html.twig' %}

    <div class="columns">
        {% if city %}
            <h2>{{city.name}}</h2>
        {% else %}
            <h2>Ajouter un lieu</h2>
        {% endif %}

        <form action="{{ formPost }}" method="POST">
            <label>Nom</label>
            <input type="text" name="name" value="{{ city.name }}" required placeholder="Nom du lieu"/>
            <label>Zoom par défaut</label>
            <input type="number" id="zoom" name="zoom" value="{{ city.zoom }}" required placeholder="Niveau de zoom par défaut"/>
            <label>Latitude</label>
            <input type="text" id="lat" name="latitude" value="{{ city.latitude }}" required placeholder="Latitude"/>
            <label>Longitude</label>
            <input type="text" id="lng" name="longitude" value="{{ city.longitude }}" required placeholder="Longitude"/>
            <label>Carte du monde (Déplacez le curseur sur la carte)</label>
            <div id="map-canvas" style="height: 500px; margin-bottom: 1em;"></div>
            <label>Vignette du lieu</label>
            <input type="text" name="image" value="{{ city.image }}" placeholder="URL de la vignette du lieu"/>
            <input type="hidden" name="token" value="{{ token }}"/>
            {% if city %}
                <input type="submit" class="button" name="edit" value="Editer"/>
                <input type="submit" class="button" name="delete" value="Supprimer"/>
            {% else %}
                <input type="submit" class="button" value="Enregistrer"/>
            {% endif %}
        </form>
    </div>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKxziiWFpPK3pUzrh9oBmSj2y5Q2qFBR0"></script>
    <script type="text/javascript" src="{{ constant('ROOT_PATH') }}/javascript/dist/mapForm.js"></script>

{% endblock %}