{% extends "main.html.twig" %}

{% block content %}

    {% include 'flash.html.twig' %}

    <div class="small-12 large-6 large-centered columns">
        <h1>Inscription</h1>
        {% if errors %}
            <div class="row">
                <div class="small-12 columns">
                    <div data-alert class="alert-box alert">
                        <ul style="margin-bottom: 0;">
                            {% for key, error in errors  %}
                                <li>{{ key }} - {{ error }}</li>
                            {% endfor %}
                        </ul>
                        <a href="#" class="close">&times;</a>
                    </div>
                </div>
            </div>
        {% endif %}

        <p>Vous êtes déjà membre ? <a href="{{ link.login }}">Connectez-vous vite</a> !</p>

        <form method="POST" action="{{ postURL }}">
            <label>Nom d'utilisateur</label>
            <input type="text" name="username" placeholder="Nom d'utilisateur"
                    {% if user is defined %}
                        value="{{ user.username }}"
                    {% endif %}/>
            <label>Email</label>
            <input type="email" name="mail" placeholder="Email"
                {% if user is defined %}
                    value="{{ user.mail }}"
                {% endif %}/>
            <label>Mot de passe</label>
            <input type="password" name="password" placeholder="Mot de passe"/>
            <label>Confirmation mot de passe</label>
            <input type="password" name="password_conf" placeholder="Mot de passe"/>
            <input type="hidden" name="token" value="{{ token }}"/>
            <input type="submit" class="button" value="Envoyer"/>
        </form>
    </div>



{% endblock %}