
<section ng-controller="MapCtrl">
    <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow-y: hidden">
        <div id="map-canvas" style="height: 100%; width: 100%;"></div>
        <div style="background-color: rgba(255,255,255,0.8); position: absolute; top: 0; right: 0; height:60px; line-height: 29px;  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);" class="columns small-12 text-center">
            <div style="float: left;">
                <h3 style="line-height: 60px;"><a href="/">PhotoLocate</a></h3>
            </div>
            <div style="float: right;">
                <div style="display: inline-block; padding:0 10px; border-right: 1px solid black;">
                    <span style="font-weight: bold;">PHOTO</span><br/>
                    <span>{{photoProgress}} / {{photoTotal}}</span>
                </div>
                <div style="display: inline-block; padding:0 10px; ">
                    <span style="font-weight: bold;">SCORE</span><br/>
                    <span>{{scoreService.score}}</span>
                </div>
            </div>
        </div>

        <div style="background-color: rgba(255,255,255,0.8); position: absolute; bottom: 0; right: 0; left: 0;" ng-show="bandeau" class="bandeau-show-hide text-center">
            <p style="margin-top:2em;">{{time}} <br/>
            {{score}}</p>
            <input type="button" class="button" ng-click="nextPhoto()" value="Prochaine image" ng-show="!showResults"/>
            <input type="button" class="button" ng-click="results()" value="Résultats" ng-show="showResults"/>
        </div>
        <div class="columns small-12 medium-6 large-4" style="max-width: 450px; position: absolute; bottom: 0; left: 0; margin-bottom: 1em;">
            <img ng-src="{{photo}}" style="width: 100%; border-radius: 5px;box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.4);" class="text-center photo-show-hide" ng-hide="bandeau"/>
        </div>
    </div>
    <div class="small-12 medium-6 medium-centered large-5 large-centered columns">
        <div class="progress round" style="background-color: rgba(255,255,255,0.8);box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);">
            <span class="meter" ng-style="{'width':progress+'%'}"></span>
        </div>
    </div>

    <div id="myModal" class="reveal-modal" data-reveal>
        <h2>Erreur</h2>
        <p class="lead">Nous sommes désolés mais une erreur a été détectée, veuillez recommencer une nouvelle partie.</p>
        <input type="button" class="button close" value="Recommencer"/>
    </div>
    <modal></modal>
</section>