<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="{{ link.index }}">PhotoLocate</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
        <ul class="left">
            <li><a href="{{ link.play }}">Jouer</a></li>
            <li><a href="{{ link.admin }}">Administrer</a></li>
        </ul>

        <ul class="right">
            {% if session.connecte %}
                <li class="has-dropdown">
                    <a>{{ session.username }}</a>
                    <ul class="dropdown">
                        <li><a href="{{ link.logout }}">Déconnexion</a></li>

                    </ul>
                </li>
            {% else %}
                <li><a href="{{ link.register }}">Inscription</a></li>
                <li><a href="{{ link.login }}">Connexion</a></li>
            {% endif %}
        </ul>
    </section>
</nav>