{% extends "main.html.twig" %}

{% block content %}

    {% include 'flash.html.twig' %}

    <h3 style="margin-bottom: 1em;">Vos Photos</h3>
    <a class="button" href="{{ link.photoAdd }}">Ajouter une photo</a> <br/>
    {% for photo in photos %}
        <a href="{{ photo.urlEdit }}">
            <div class="card" style="background-color: #fff; width: 20%; box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26); display:inline-block; margin:5px;">
                <div class="image">
                    <img style="width: 100%;" src="{{ constant('ROOT_PATH') }}/{{ photo.url }}" alt=""/>
                </div>
                <div class="content text-center" style="padding: 1em 1em 0 1em;">
                    <p>Lieu : {{photo.city.name}}</p>
                </div>
            </div>
        </a>
    {% endfor %}

{% endblock %}