<div>
    <h3 class="text-center">Difficulté {{difficulty.label}}</h3>
    <p>Règles du jeu :</p>
    <ul>
        <li>Précision : {{difficulty.distance}}00m</li>
        <li>Nombre de photos : {{difficulty.nb_photo}}</li>
    </ul>
    <div class="text-center">
        <input type="button" ng-click="setDifficulty($event)" data-difficulty="{{difficulty.id}}" value="Choisir" class="button"/>
    </div>
</div>